[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
graphene-django = "*"
graphene-graphiql-explorer = "*"
djangorestframework = "*"
django-filter = "*"
django-model-mutations = "*"

[dev-packages]

[requires]
python_version = "3.10"
